@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
 background-color: #313131;
 margin: 0;
 padding: 0;
}

.name{
    background-color: #252525;
    font-family: "inter";
    padding: 15px;
    display: flex;
    justify-content: space-around;


}

.name h3{
    color: #eee;
    font-size: 24px;
}

@media(max-width:600px){
    .name{
        flex-direction: column;
    }
    .name h3{
        
        margin-bottom: 10px;
  
        padding: 3px 15px;
        border-radius: 50px;
        
        text-align: center;
    }
    .name #link-box a{
        text-align: center;
    }
    #ar-photo{
        flex-direction: column;
        margin: auto;
        background-color: #252525;
        margin-top: 35px;
        width: 90%;
        border-radius: 5px;
        border: 1px solid #eee;
        text-align: center;
        padding: 7px;
    }

    #ar-photo h1{
        font-family: "inter";
        color: #eee;
        font-size: 45px;
    }
    #ar-photo #ar{
        font-family: "inter";
        color: #fefefe;
    }
    #ar-photo #ar > strong{
        color: aqua;
    }

    #ar-photo #ar .yellow{
        color: yellow;
    }

    #ar-photo img{
        width: 100px;
        height: 100px;
        clip-path: circle(50% at 50% 50%); /* Esto crea el círculo */
        object-fit: cover;
        margin: auto;
    }

    #all-content #pd #pdata{
        background-color: #212121;
        margin-top: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    #all-content #pd #pdata h2{
        font-family: "inter";
        color: #eee;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        
    }
    #all-content #pd #pdata ul li{
        font-family: "inter";
        margin-left: 10px;
        color: aqua;
        
    }

    #all-content #pd #pdata strong{
        color: #eee;
    }

    .xp{
        background-color: #212121;
        margin-top: 35px;
        padding-top: 10px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .xp #lab-xp{
        font-family: "inter";
        color: #eee;
        text-align: center;
        font-size: 30px;
    }

    .xp #card-empresas .card{
       border: 1px solid #eee;
       width: 80%;
       margin: auto;
       margin-top: 15px;
       margin-bottom: 20px;
       border-radius: 5px;
       text-align: center;
        font-family: "inter";
        padding: 5px;
        background-color: #313131;
    }

    .xp #card-empresas .card h3{
        color: aqua;
        font-size: 20px;
    }

    .xp #card-empresas .card p{
        color: #eee;
        font-weight: 400;
    }

    .xp #card-empresas .card strong{
        color: yellow;
        font-weight: bolder;
    }

    #aca {
        background-color: #212121;
        margin-top: 35px;
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
        padding-top: 10px;
    }

    #aca h2{
        color: #eee;
        font-family: "inter";
        font-size: 30px;
        margin-bottom: 15px;
    }

    #aca .sect1{
        margin-left: 10px;
    }

    #aca .sect1 p{
        color: yellow;
        font-family: "inter";
    }

    #aca .sect1 h3{
        color: aqua;
        font-family: "inter";

    }

    #aca .bachi{
        margin-bottom: 15px;
    } 
    

    #aca .mec{
        margin-bottom: 15px;
    }

    #aca .tec{
        margin-bottom: 45px;
    }

    #aca .sect2{
        margin-left: 20px;
    
    }

    #aca .sect2 ol li{
        list-style: decimal;
        color: #eee;
        margin-bottom: 10px;
        font-family: "inter";
        width: 95%;
    }

    #skl h2{
        margin-top: 35px;
        text-align: center;
        border: 1px solid #eee;
        width: 80%;
        margin: auto;
        margin-top: 35px;
        border-radius: 5px;
    }
    #skl ul{
        margin-top: 15px;
    }

    #skl ul li{
        color: #eee;
        font-family: "inter";
        margin-bottom: 15px;
        list-style: decimal;
        width: 90%;
        margin-left: 20px;
    }



}




.name #link-box a{
    margin-left: 15px;
    margin-right: 15px;
    color: #eee;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    padding: 3px;
    border-radius: 5px;
}

.name #link-box a:hover{
    background-color: #eee;
    color: #252525;
    
    
}


@media(min-width:600px){
   #ar-photo img{
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%); /* Esto crea el círculo */
    object-fit: cover;
   }

   #ar-photo{
    margin: auto;
    width: 45%;
    border: 1px solid #eee;
    margin-top: 35px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: #212121;
    font-family: "inter";
    color: #eee;
   }


   #ar-photo h1{
    font-family: "inter";
    color: #eee;
    font-size: 45px;
    
   }

   #ar-photo #ar > strong{
    color: aqua;
}

#ar-photo #ar .yellow{
    color: yellow;
}


#all-content #pd #pdata{
    background-color: #212121;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-bottom: 35px;
}

#all-content #pd #pdata h2{
    font-family: "inter";
    color: #eee;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    
}


#all-content #pd #pdata  .caja {
    border: 1px solid #eee;
    width: 40%;
    margin: auto;
    
    border-radius: 5px;
    padding: 7px;
    background-color: #313131;
}

#all-content #pd #pdata ul li{
    font-family: "inter";
    margin-left: 10px;
    color: aqua;
    list-style: none;
    
}

#all-content #pd #pdata strong{
    color: #eee;
}


.xp{
    background-color: #212121;
    margin-top: 35px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.xp #lab-xp{
    font-family: "inter";
    color: #eee;
    text-align: center;
    font-size: 30px;
}

.xp #card-empresas .card{
   border: 1px solid #eee;
   width: 45%;
   margin: auto;
   margin-top: 15px;
   margin-bottom: 20px;
   border-radius: 5px;
   text-align: center;
    font-family: "inter";
    padding: 5px;
    background-color: #313131;
}

.xp #card-empresas .card h3{
    color: aqua;
    font-size: 20px;
}

.xp #card-empresas .card p{
    color: #eee;
    font-weight: 400;
}

.xp #card-empresas .card strong{
    color: yellow;
    font-weight: bolder;
}



#aca {
    background-color: #212121;
    margin-top: 35px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding-top: 10px;
}

#aca h2{
    color: #eee;
    font-family: "inter";
    font-size: 30px;
    margin-bottom: 15px;
}

#aca .sect1{
    margin-left: 10px;
    text-align: center;
}

#aca .sect1 p{
    color: yellow;
    font-family: "inter";
}

#aca .sect1 h3{
    color: aqua;
    font-family: "inter";

}

#aca .bachi{
    margin-bottom: 15px;
} 


#aca .mec{
    margin-bottom: 15px;
}

#aca .tec{
    margin-bottom: 45px;
}

#aca .sect2{
    margin-left: 20px;
    
}

#aca .sect2 h2{
    text-align: center;
}

#aca .sect2 ol li{
    list-style: none;
    color: #eee;
    margin-bottom: 10px;
    font-family: "inter";
    width: 95%;
}

#skl h2{
    margin-top: 35px;
    text-align: center;
    border: 1px solid #eee;
    width: 80%;
    margin: auto;
    margin-top: 35px;
    border-radius: 5px;
}
#skl ul{
    margin-top: 15px;
}

#skl ul li{
    color: #eee;
    font-family: "inter";
    margin-bottom: 15px;
    list-style: decimal;
    width: 90%;
    margin-left: 20px;
}

}



